{
  "swagger" : "2.0",
  "info" : {
    "title" : "Shortlink REST Api",
    "description" : "contact shortlink simply",
    "version" : "1.0.0",
    "contact" : {
      "email" : "support@shortlink.ma"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "app.shortlink.ma",
  "basePath" : "/api/v1",
  "tags" : [ {
    "name" : "admins",
    "description" : "Secured Admin-only calls"
  }, {
    "name" : "developers",
    "description" : "Operations available to regular developers"
  } ],
  "schemes" : [ "https" ],
  "produces" : [ "application/json" ],
  "consumes" : [ "application/json" ],
  "securityDefinitions" : {
    "shortlink-api-key" : {
      "type" : "apiKey",
      "name" : "x-shortlink-apikey",
      "in" : "header"
    },
    "shortlink-api-secret" : {
      "type" : "apiKey",
      "name" : "x-shortlink-apisecret",
      "in" : "header"
    }
  },
  "security" : [ {
    "shortlink-api-key" : [ ],
    "shortlink-api-secret" : [ ]
  } ],
  "paths" : {
    "/balance" : {
      "get" : {
        "summary" : "get account balance",
        "operationId" : "getBalance",
        "description" : "Get the account balance\n",
        "tags" : [ "Balances" ],
        "responses" : {
          "200" : {
            "description" : "Get the account balance",
            "schema" : {
              "$ref" : "#/definitions/GetBalanceResponse"
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    },
    "/campaign" : {
      "post" : {
        "summary" : "create an sms campaign",
        "operationId" : "createCampaign",
        "description" : "create a campaign",
        "parameters" : [ {
          "name" : "request",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SendSmsCampaignRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get the id of the created campaign",
            "schema" : {
              "$ref" : "#/definitions/SendSmsCampaignResponse"
            }
          },
          "400" : {
            "description" : "bad input parameter"
          }
        }
      }
    }
  },
  "definitions" : {
    "Response" : {
      "type" : "object",
      "required" : [ "status" ],
      "properties" : {
        "status" : {
          "type" : "string",
          "enum" : [ "success", "fail", "error" ]
        },
        "message" : {
          "type" : "string"
        },
        "data" : {
          "type" : "object"
        },
        "code" : {
          "type" : "number"
        }
      }
    },
    "GetBalanceResponse" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Response"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/definitions/BalanceItem"
          }
        }
      } ]
    },
    "BalanceItem" : {
      "type" : "object",
      "required" : [ "remaining" ],
      "properties" : {
        "remaining" : {
          "type" : "number",
          "format" : "double",
          "example" : 20.5
        }
      }
    },
    "Contact" : {
      "type" : "object",
      "required" : [ "phone" ],
      "properties" : {
        "firstName" : {
          "type" : "string",
          "example" : "François"
        },
        "lastName" : {
          "type" : "string",
          "example" : "Mitterrand"
        },
        "phone" : {
          "type" : "string",
          "example" : "+33601020304"
        },
        "field1" : {
          "type" : "string",
          "example" : "12/03/1985"
        },
        "field2" : {
          "type" : "string",
          "example" : "Mr."
        },
        "email" : {
          "type" : "string",
          "example" : "contact@shortlink.ma"
        }
      }
    },
    "ExecutionPolicy" : {
      "type" : "object",
      "properties" : {
        "startAt" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "SendSmsCampaignRequest" : {
      "type" : "object",
      "required" : [ "campaignName", "smsTemplate", "contacts" ],
      "properties" : {
        "campaignName" : {
          "type" : "string",
          "example" : "Campaign1"
        },
        "smsTemplate" : {
          "type" : "string",
          "example" : "hi Mr {firstName}, welcome to shortlink universe"
        },
        "contacts" : {
          "type" : "array",
          "description" : "The contact list should contains at least one element.\n",
          "minItems" : 1,
          "items" : {
            "$ref" : "#/definitions/Contact"
          }
        },
        "executionPolicy" : {
          "$ref" : "#/definitions/ExecutionPolicy"
        }
      }
    },
    "SendSmsCampaignResponse" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Response"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "the id of the generated campaign",
                "example" : "MzFtJWDGn8vb9Wmtc"
              }
            }
          }
        }
      } ]
    }
  }
}