{
  "swagger" : "2.0",
  "info" : {
    "title" : "Shortlink REST Api",
    "description" : "contact shortlink simply",
    "version" : "1.0.0",
    "contact" : {
      "email" : "support@shortlink.ma"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "app.shortlink.ma",
  "basePath" : "/api/v1",
  "tags" : [ {
    "name" : "admins",
    "description" : "Secured Admin-only calls"
  }, {
    "name" : "developers",
    "description" : "Operations available to regular developers"
  } ],
  "schemes" : [ "https" ],
  "produces" : [ "application/json" ],
  "consumes" : [ "application/json" ],
  "paths" : {
    "/balance" : {
      "get" : {
        "summary" : "get account balance",
        "operationId" : "getBalance",
        "description" : "Get the account balance\n",
        "tags" : [ "Balances" ],
        "responses" : {
          "200" : {
            "description" : "Get the account balance",
            "schema" : {
              "type" : "object",
              "items" : {
                "$ref" : "#/definitions/BalanceItem"
              }
            }
          },
          "400" : {
            "description" : "bad input parameter"
          },
          "404" : {
            "description" : "Not Authorized"
          }
        }
      }
    },
    "/campaign" : {
      "post" : {
        "summary" : "create an sms campaign",
        "operationId" : "createCampaign",
        "description" : "create a campaign",
        "parameters" : [ {
          "name" : "campaignName",
          "in" : "body",
          "schema" : {
            "type" : "string",
            "example" : "test"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    }
  },
  "definitions" : {
    "BalanceItem" : {
      "type" : "object",
      "required" : [ "remaining" ],
      "properties" : {
        "remaining" : {
          "type" : "number",
          "format" : "double",
          "example" : 20.5
        }
      }
    },
    "Contact" : {
      "type" : "object",
      "required" : [ "phone" ],
      "properties" : {
        "firstName" : {
          "type" : "string",
          "example" : "François"
        },
        "lastName" : {
          "type" : "string",
          "example" : "Mitterrand"
        },
        "phone" : {
          "type" : "string",
          "example" : "+33601020304"
        },
        "field1" : {
          "type" : "string"
        }
      }
    },
    "ExecutionPolicy" : {
      "type" : "object",
      "properties" : {
        "startAt" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "SendSmsCampaignRequest" : {
      "type" : "object",
      "required" : [ "campaignName", "smsTemplate", "contacts" ],
      "properties" : {
        "campaignName" : {
          "type" : "string",
          "example" : "Campaign1"
        },
        "smsTemplate" : {
          "type" : "string",
          "example" : "hi Mr {firstName}, welcome to shortlink universe"
        },
        "contacts" : {
          "type" : "array",
          "description" : "The contact list should contains at least one element.\n",
          "minItems" : 1,
          "items" : {
            "$ref" : "#/definitions/Contact"
          }
        },
        "executionPolicy" : {
          "type" : "object",
          "items" : {
            "$ref" : "#/definitions/ExecutionPolicy"
          }
        }
      }
    }
  }
}