{
  "swagger" : "2.0",
  "info" : {
    "title" : "Shortlink REST Api",
    "description" : "contact shortlink simply",
    "version" : "1.0.0",
    "contact" : {
      "email" : "support@shortlink.ma"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "app.shortlink.ma",
  "basePath" : "/api/v1",
  "tags" : [ {
    "name" : "admins",
    "description" : "Secured Admin-only calls"
  }, {
    "name" : "developers",
    "description" : "Operations available to regular developers"
  } ],
  "schemes" : [ "https" ],
  "produces" : [ "application/json" ],
  "consumes" : [ "application/json" ],
  "securityDefinitions" : {
    "shortlinkApiKey" : {
      "type" : "apiKey",
      "description" : "the api key, generated from the shortlink plateforme",
      "name" : "x-shortlink-apikey",
      "in" : "header"
    },
    "shortlinkApiSecret" : {
      "type" : "apiKey",
      "description" : "The secret key, generated from the shortlink plateforme",
      "name" : "x-shortlink-apisecret",
      "in" : "header"
    }
  },
  "security" : [ {
    "shortlinkApiKey" : [ ],
    "shortlinkApiSecret" : [ ]
  } ],
  "paths" : {
    "/balances" : {
      "get" : {
        "summary" : "get account balance",
        "operationId" : "getBalance",
        "description" : "Retrieve the account balance of the current user\n",
        "tags" : [ "Balances" ],
        "responses" : {
          "200" : {
            "$ref" : "#/responses/GetBalanceSuccessResponse"
          },
          "400" : {
            "$ref" : "#/responses/Standard400ValidationErrorResponse"
          },
          "500" : {
            "$ref" : "#/responses/Standard500ErrorResponse"
          }
        }
      }
    },
    "/sms/send/" : {
      "post" : {
        "summary" : "Send sms",
        "operationId" : "SendSms",
        "description" : "Send one or many sms",
        "tags" : [ "SendSms" ],
        "parameters" : [ {
          "name" : "options",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SendSmsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/responses/SendSmsSuccessResponse"
          },
          "400" : {
            "$ref" : "#/responses/Standard400ValidationErrorResponse"
          },
          "500" : {
            "$ref" : "#/responses/Standard500ErrorResponse"
          }
        }
      }
    }
  },
  "definitions" : {
    "GetBalanceSuccess" : {
      "allOf" : [ {
        "$ref" : "#/definitions/SuccessResponse"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "$ref" : "#/definitions/BalanceItem"
          }
        }
      } ]
    },
    "BalanceItem" : {
      "type" : "object",
      "description" : "The entity that represent the account balance",
      "required" : [ "remainingUnits" ],
      "properties" : {
        "remainingUnits" : {
          "type" : "number",
          "description" : "Account remaining units",
          "format" : "double",
          "example" : 20.5
        }
      }
    },
    "SendSmsRequest" : {
      "type" : "object",
      "required" : [ "messages" ],
      "properties" : {
        "bulkId" : {
          "type" : "string",
          "description" : "The ID wich uniquely identifies the request",
          "example" : "3501b52b-09d4-4e86-995b-c345dc7b86d1"
        },
        "defaultRegionCode" : {
          "type" : "string",
          "description" : "the default ISO_3166-1_alpha-2 country code that will be applied if no coutry code is defined in the phone number\n",
          "externalDocs" : {
            "description" : "ISO_3166-1_alpha-2 country codes",
            "url" : "https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2"
          },
          "default" : "the api default region code",
          "example" : "FR"
        },
        "messages" : {
          "$ref" : "#/definitions/SendListItem"
        },
        "options" : {
          "$ref" : "#/definitions/CampaignOptions"
        }
      }
    },
    "SendListItem" : {
      "type" : "object",
      "description" : "specify the list of new contacts or add exiting ones from your shortlink lists",
      "properties" : {
        "listIds" : {
          "type" : "array",
          "description" : "import contacts from the specified list identifiers",
          "items" : {
            "type" : "string",
            "example" : "K7ffn4g3tPX9pSTjK"
          }
        },
        "contacts" : {
          "type" : "array",
          "description" : "add new contacts to the campaign",
          "minItems" : 1,
          "items" : {
            "$ref" : "#/definitions/Contact"
          }
        }
      }
    },
    "CampaignOptions" : {
      "type" : "object",
      "properties" : {
        "validityPeriod" : {
          "type" : "number",
          "description" : "The message validity period in minutes. When the period expires, it will not be allowed for the message to be sent\nValidity period longer than 48h is not supported (in this case, it will be automatically set to 48h).\n",
          "default" : 2880,
          "example" : 120
        },
        "sendAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Program a camapaign to be executed at a specific date, the date should be greater than today.\nwhen no date is specified, the campaign is executed immediately\n",
          "default" : null
        }
      }
    },
    "Contact" : {
      "type" : "object",
      "required" : [ "phone" ],
      "properties" : {
        "firstName" : {
          "type" : "string",
          "example" : "François"
        },
        "lastName" : {
          "type" : "string",
          "example" : "Mitterrand"
        },
        "phone" : {
          "type" : "string",
          "example" : "+33601020304"
        },
        "field1" : {
          "type" : "string",
          "example" : "12/03/1985"
        },
        "field2" : {
          "type" : "string",
          "example" : "Mr."
        },
        "email" : {
          "type" : "string",
          "example" : "contact@shortlink.ma"
        }
      }
    },
    "SendSmsSuccess" : {
      "allOf" : [ {
        "$ref" : "#/definitions/SuccessResponse"
      }, {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "the id of the generated campaign",
                "example" : "MzFtJWDGn8vb9Wmtc"
              }
            }
          }
        }
      } ]
    },
    "SuccessResponse" : {
      "type" : "object",
      "required" : [ "status", "data" ],
      "properties" : {
        "status" : {
          "type" : "string",
          "example" : "success"
        },
        "data" : {
          "type" : "object"
        }
      }
    },
    "Error" : {
      "type" : "object",
      "required" : [ "status", "message" ],
      "properties" : {
        "status" : {
          "type" : "string",
          "default" : "error",
          "example" : "error"
        },
        "message" : {
          "type" : "string"
        },
        "code" : {
          "type" : "string"
        },
        "data" : {
          "type" : "object"
        }
      }
    },
    "ValidationError" : {
      "type" : "object",
      "required" : [ "status", "code", "data" ],
      "properties" : {
        "status" : {
          "type" : "string",
          "default" : "fail",
          "example" : "fail"
        },
        "code" : {
          "type" : "string"
        },
        "data" : {
          "type" : "object"
        }
      }
    }
  },
  "responses" : {
    "Standard500ErrorResponse" : {
      "description" : "Unable to process request due to an error",
      "schema" : {
        "$ref" : "#/definitions/Error"
      }
    },
    "Standard400ValidationErrorResponse" : {
      "description" : "One or more of the query parameters failed validation or was not provided. The request should not be attempted until the parameters are changed. The fields that failed validation will be detailed where possible.",
      "schema" : {
        "$ref" : "#/definitions/ValidationError"
      }
    },
    "SendSmsSuccessResponse" : {
      "description" : "Campaign created successfully",
      "schema" : {
        "$ref" : "#/definitions/SendSmsSuccess"
      }
    },
    "GetBalanceSuccessResponse" : {
      "description" : "Balance retrieved successfully",
      "schema" : {
        "$ref" : "#/definitions/GetBalanceSuccess"
      }
    }
  }
}